/* url(../img/trianglify_1.svg); */

:root{
    --clr_mbg: #E5E5E5;
    --clr_1: #A40823;
    --clr_2: #CE092B;
    --clr_3: #F50C34;
    --clr_4: #F84356;
    --bdr_rd: 30px;
    --cnt0_bcg_clr:#E5E5E5;
    --cnt0_bcg_pat: none;
    --c0_l_bcg_clr: red;
    --c0_l_bcg_pat: none;
    --cnt1_bcg_clr: none;
    --cnt1_bcg_pat: none;
    --c1_l_bcg_clr: none;
    --c1_l_bcg_pat: none;
    --anch_clr: none;
}

.bdy { margin: 0;
        min-width:650px}

/******* Top Container*******/
.cont0 {
    position: relative;
    top:0;
    min-height:100vh;
/*    background-color: var(--cnt0_bcg_clr);*/
    background-image: url("../img/beautiful-cold-forest.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    background: var(--cnt0_bcg_pat);*/
}

.c0_l{
    position: absolute;
    z-index : 1;
    position: relative;
    height: 100%;
    background-color: var(--c0_l_bcg_clr);
    background: var(--c0_l_bcg_pat);
    left: 2.5%;
    width: 97.5%;
    opacity: 1;
}

.img0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100vh;
    opacity: 0.7;
    border-radius: 0 0 0 var(--bdr_rd);
    z-index: 2;
}

#center {
    position: absolute;
    top:9%;
    /*left: 40%;*/
    padding-left: 30%;
    text-align: left;
    /*transform: translate(-50%, -50%);*/
    font-size: 4em;
    color: white;
    z-index: 3;
}

/*******Nav Bar********/
.navbar2 {
  position:absolute;
  z-index: 11;
  color: white ;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  right:0;
  width:30%;
  margin-left:60%;
  padding-right: 10%;
  font-size: 1em;
  height:0%;
  background-color: black;
  text-align:right;
}

a:link, a:visited {
    background-color: none /* var(--clr_1); */
    border-radius: 1px;
    color: white; /*var(--clr_mbg);*/
    border: 0px solid black;
    margin-right: 1%;
    padding: 1% 1%;
    width: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
    color: var(--clr_mbg);
}

/******* Banner *******/

.banner {
  position: absolute;
  z-index: 9;
  color:white ;
  position: -webkit-sticky;
  position: sticky;
  width: 99%;
  top: 0;
  height: 8vh;
  padding-left: 1%;
  font-size: 3em;
  background-color: black;
  text-align: left;
}

.wr_1 {
  position:absolute;
  display:block;
  width: 95%;
  top: 10vw;
/*    bottom:20%; */
  min-height: 500px;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /*height: 90%;*/
/*  background: url(../img/trianglify_1.svg);*/
  font-size: 20pt;
  /*border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);*/
  z-index: 1;
/*box-shadow: 5px 5px 5px grey;*/}


.wr_2{
  position:relative;
  display: inline-block;
  right: 0%;
  width: 90%;
/*    top: 5%; */
/*  bottom:20%; */
/*  min-height: 500px;*/
  margin-left: 2.5%;
  margin-top:2.5%;
  margin-bottom:2.5%;
  padding-right:5%;
  padding-left: 5%;
  padding-top: 7px;
  padding-bottom: 10px;
  text-align: justify;
/*    height: 45vw; */
  background-color: var(--clr_1);
  opacity: 0.85;
  font-size: 20pt;
  color: white;
/*  border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);*/
  z-index: 2 }

  .wl_1 {
    position:absolute;
    display:block;
    width: 97.5%;
    top: 10vw;
  /*    bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    /*height: 90%;*/
  /*  background: url(../img/trianglify_1.svg);*/
    font-size: 20pt;
    /*border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);*/
    z-index: 1;
  /*box-shadow: 5px 5px 5px grey;*/}


  .wl_2{
    position:relative;
    display: inline-block;
    left: 0;
    width: 80%;
    background-color:red;
  /*    top: 5%; */
  /*  bottom:20%; */
  /*  min-height: 500px;*/
    margin-right: 5%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    padding-right:5%;
    padding-left:2.5%;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: justify;
  /*    height: 45vw; */
    background-color: var(--clr_1);
    opacity: 0.95;
    font-size: 20pt;
    color:white;
  /*  border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);*/
    z-index: 2 }




/******* Container 1 *******/

#cont1 {
  position:relative;
  width: 100% ;
  height:calc(1200px - 15vw);
  min-height:500px;
  background-color: var(--clr_mbg);
  min-width: 650px;
  background-image: url("../img/fall_paint.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#anch1{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}
#c1_l1 {
    position:absolute;
    left: 0;
    top: 0%;
    width: 65%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    height:90% ;
    background-color: none;
    font-size: 20pt;
    border-radius: 0 var(--bdr_rd) var(--bdr_rd) 0;
    border-style: outset;
    border-width: 0px;
    z-index: 2;
}

#c1_l2 {
    position:absolute;
    left: 0;
    top: 0%;
    width: 75%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    height:90% ;
    background: url(../img/trianglify.svg);
    /*background-color: var(--clr_1);*/
    font-size: 20pt;
    border-radius: 0 var(--bdr_rd) var(--bdr_rd) 0;
    border-style: outset;
    border-width: 0px;
    z-index: 1;
    box-shadow: 5px 5px grey;
}

#c1_r {
    position:absolute;
    right: 2.5%;
    width: 25%;
    top: 0;
    padding-right: 0% ;
    padding-left: 0%;
    text-align: justify;
    height: 60%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top:10%;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 3;
    overflow: hidden;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140%;
    height: auto;
    opacity: 1;
    border-radius: var(--bdr_rd)
}

/******* Container 2 *******/

#cont2 {
  position: relative;
  width: 100% ;
  height: calc(1300px - 25vw);
  min-height: 100vh;
  background-color: var(--clr_mbg);
  min-width: 650px;
  background-image: url("../img/concrete_hall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#anch2{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}

#c2_l {
    position:absolute;
    left: 2.5%;
    width: 25%;
    top: 15%;
    padding-right: 0% ;
    padding-left: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 0;
}

#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: var(--bdr_rd)
}

#c2_wr1 {
  position:absolute;
  display:block;
  right: 0;
  width: 75%;
  top: 10vw;
/*    bottom:20%; */
  min-height: 500px;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /*height: 90%;*/
/*  background: url(../img/trianglify_1.svg);*/
  font-size: 20pt;
  /*border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);*/
  z-index: 1;
/*box-shadow: 5px 5px 5px grey;*/}

#c2_wr2 {
  position:relative;
  display: inline-block;
  right: 0%;
  width: 95%;
/*    top: 5%; */
/*  bottom:20%; */
  min-height: 500px;
  padding-right: 2.5%;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
/*    height: 45vw; */
  background-color: var(--clr_1);
  opacity: 0.75;
  font-size: 20pt;
  border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);
  z-index: 2 }

/******* Container 3 *******/

.cont3 {
  position: relative;
  width: 100% ;
  height: calc(1700px - 15vw);
  background-color: var(--clr_mbg);
  min-height:500px;
  background-color: var(--clr_mbg);
  min-width: 650px;
  background-image: url("../img/books.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#anch3{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}

#c3_l1{
    position:absolute;
    display:block;
    left: 0;
    width: 75%;
    top: 10vw;
/*    bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    /*height: 90%;*/
    background: url(../img/trianglify_1.svg);
    font-size: 20pt;
    border-radius:  0 var(--bdr_rd) var(--bdr_rd) 0;
    z-index: 1;
    box-shadow: 5px 5px 5px grey;}


#c3_l2{
    position:relative;
    display: inline-block;
    left: 0;
    width: 95%;
/*    top: 5%; */
  /*  bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
/*    height: 45vw; */
    background-color: none;
    font-size: 20pt;
    border-radius: 0 var(--bdr_rd) var(--bdr_rd) 0;
    z-index: 2}

.c3_r1 {
    position:absolute;
    right: 2.5%;
    height:60%;
    padding-right: 2.5% ;
    padding-left: 2.5%;
    text-align: justify;
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 0;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 90%;
    opacity: 1;
    border-radius: var(--bdr_rd)
}


/******* Container 4 *******/

.cont4 {
    position: relative;
    width: 100% ;
    height: calc(1300px - 25vw);
    background-color: var(--clr_mbg);
    min-width: 650px;
    background-image: url("../img/flatirons.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#anch4{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}
.c4_l {
    position:absolute;
    display: inline-block;
    left: 2.5%;
    width: 25%;
    top: 10%;
    padding-right: 0% ;
    padding-left: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    min-height: 450px;
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 0;
}

.img4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    opacity: 1;
    border-radius: var(--bdr_rd)
}

#c4_r1{
    position:absolute;
    display:block;
    right: 0;
    width: 75%;
    top: 20vw;
/*    bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    /*height: 90%;*/
    background: url(../img/trianglify_1.svg);
    font-size: 20pt;
    border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);
    z-index: 1;
    box-shadow: 5px 5px 5px grey;}

#c4_r2{
    position:relative;
    display: inline-block;
    right: 0%;
    width: 95%;
/*    top: 5%; */
  /*  bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
/*    height: 45vw; */
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);
    z-index: 2}



/******* Container 5 *******/

.cont5 {
  position: relative;
  width: 100% ;
  height: calc(1500px - 15vw);
  background-color: var(--clr_mbg);
  min-width: 650px;
  background-image: url("../img/audience.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#anch5{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}

#c5_l1{
    position:absolute;
    display:block;
    left: 0;
    width: 75%;
    top: 10vw;
/*    bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    /*height: 90%;*/
    background: url(../img/trianglify_1.svg);
    font-size: 20pt;
    border-radius:  0 var(--bdr_rd) var(--bdr_rd) 0;
    z-index: 1;
    box-shadow: 5px 5px 5px grey;}


#c5_l2{
    position:relative;
    display: inline-block;
    left: 0;
    width: 95%;
/*    top: 5%; */
  /*  bottom:20%; */
    min-height: 500px;
    padding-right: 2.5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
/*    height: 45vw; */
    background-color: none;
    font-size: 20pt;
    border-radius: 0 var(--bdr_rd) var(--bdr_rd) 0;
    z-index: 2}

.c5_r1 {
    position:absolute;
    right: 2.5%;
    width: 25%;
    top: 5%;
    padding-right: 0% ;
    padding-left: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    min-height: 450px;
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 0;
}

.img5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: var(--bdr_rd)
}

/******* Container 6 *******/

.cont6 {
  position: relative;
  width: 100% ;
  height: calc(1300px - 25vw);
  background-color: var(--clr_mbg);
  min-width: 650px;
  background-image: url("../img/abstract-curve.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#anch6{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0%;
  background-color:var(--anch_clr);
  z-index:10;
}
.c6_l {
    position:absolute;
    left: 2.5%;
    width: 25%;
    top: 10%;
    padding-right: 0% ;
    padding-left: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    height: 90%;
    background-color: none;
    font-size: 20pt;
    border-radius: var(--bdr_rd) var(--bdr_rd) var(--bdr_rd) var(--bdr_rd);
    z-index: 0;
}

#c6_r1 {
  position:absolute;
  display:block;
  right: 0;
  width: 75%;
  top: 20vw;
/*    bottom:20%; */
  min-height: 500px;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /*height: 90%;*/
  background: url(../img/trianglify_1.svg);
  font-size: 20pt;
  border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);
  z-index: 1;
  box-shadow: 5px 5px 5px grey;}

#c6_r2 {
  position:relative;
  display: inline-block;
  right: 0%;
  width: 95%;
/*    top: 5%; */
/*  bottom:20%; */
  min-height: 500px;
  padding-right: 2.5%;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
/*    height: 45vw; */
  background-color: none;
  font-size: 20pt;
  border-radius: var(--bdr_rd) 0 0 var(--bdr_rd);
  z-index: 2}

.img6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: var(--bdr_rd)
}

/*********** Document Stuff ************/

.subtitle {
  position: relative;
  font-size: 0.88em;
}

.indt_1 {
  position: relative;
  padding-top:0.5%;
  padding-left: 2.5%;
  font-size: 0.75em;
}

.indt_2 {
  position: relative;
  padding-top:1%;
  padding-left: 7.5%;
  font-size: 0.75em;
}
